body {
    font-family: Arial, sans-serif;
  }
  
  .example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }
  ::placeholder { 
    color: #848383;
    opacity: 1; 
  }
  a {
    color: #482683;
    text-decoration: none;
    background-color: transparent;
  }
  
  
  .example button {
    padding: 10px;
    background: #482683;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .example button:hover {
    background: #b08bf0;
  }
  
  .select-label {
    margin-right: 35px;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
  }
  
  .select-domain {
    background-color: #0066ff;
  }
  
  .select-category {
    background-color: #944dff;
  }
  
  .select {
    width: 400px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    font-weight: 300;
    cursor: pointer;
  }
  
  .select:focus {
    border: 1px solid #ff8630;
    outline: none;
  }
  
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 14px;
    height: 8px;
    background-image: url("images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  option {
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
  }
  
  .select-single {
    padding: 10px 15px;
  }
  
  .select-multi {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  table {
    margin-top: 3%;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .selectors {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #records_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #records_table td,
  #records_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #records_table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #records_table tr:hover {
    background-color: #ddd;
  }
  
  #records_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #482683;
    color: white;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #482683;
    color: white;
  }
  
  .next {
    background-color: #482683;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8) url("loader.gif") center no-repeat;
  }
  
  /* Turn off scrollbar when body element has the loading class */
  body.loading {
    overflow: hidden;
  }
  
  /* Make spinner image visible when body element has the loading class */
  body.loading .overlay {
    display: block;
  }